.login {
  @include size(100%, 100%);
}

.login_background {
	background-color:#15AF68;
	overflow: hidden;
  transform: translate(-50%, -50%);
	transition: .5s ease;
  @include absolute-lt(50%, 50%);

  &:before,
  &:after {
    content: "";
    transform-origin: center center;
    transition: .5s ease;
    @include absolute-lt(50%, 50%);
    @include size(120%, 110%);
  }

  &:before {
    background-color: #128AAE;
    transform: translate(-50%, -50%) rotate(7.5deg);
  }

  &:after {
    background-color: #006AAB;
    transform: translate(-50%, -50%) rotate(15deg);
  }
}

.login__form {
	color: #fff;
	transform: translate(-50%, -50%);
  z-index: 1;
  @include rem(max-width, 300);
  @include absolute-lt(50%, 40%);
}
