/* Colors */
$black: #000;
$white: #fff;

/* Body */
$container-padding: 20;

/* Typography */
$base-font-size: 15;
$base-font-family: 'Lato', 'Arial', sans-serif;
$base-text-color: $black;

/* Link */
// $link-color: $blue;
// $link-hover-color: $salmon;
